<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.framework.mybaties.dao.ActiveMQQueueMapper">
    <resultMap id="BaseResultMap" type="com.cy.framework.model.ActiveMQQueue">
        <id column="queue_id" property="queueId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="method" property="method" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="descr" property="descr" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    queue_id, name, method, create_time, descr
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from fx_mall_public.public_activemq_queue
        where queue_id = #{queueId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fx_mall_public.public_activemq_queue
    where queue_id = #{queueId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.cy.framework.model.ActiveMQQueue">
    insert into fx_mall_public.public_activemq_queue (queue_id, name, method, 
      create_time, descr)
    values (#{queueId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{descr,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.cy.framework.model.ActiveMQQueue">
        insert into fx_mall_public.public_activemq_queue
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="queueId != null">
                queue_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="method != null">
                method,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="descr != null">
                descr,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="queueId != null">
                #{queueId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                #{method,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="descr != null">
                #{descr,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cy.framework.model.ActiveMQQueue">
        update fx_mall_public.public_activemq_queue
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="method != null">
                method = #{method,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="descr != null">
                descr = #{descr,jdbcType=VARCHAR},
            </if>
        </set>
        where queue_id = #{queueId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cy.framework.model.ActiveMQQueue">
    update fx_mall_public.public_activemq_queue
    set name = #{name,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      descr = #{descr,jdbcType=VARCHAR}
    where queue_id = #{queueId,jdbcType=INTEGER}
  </update>
    <select id="query" parameterType="com.cy.framework.model.ActiveMQQueue" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include> FROM fx_mall_public.public_activemq_queue
        <where>
            <if test="name!=null and name!=''">
                AND name=#{name}
            </if>
            <if test="method!=null and method!=''">
                AND method=#{method}
            </if>
            <if test="queueId!=null">
                AND queue_id=#{queueId}
            </if>
        </where>
    </select>
</mapper>